<h1>Corps Table</h1>

<div class="content">

    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <input ng-model="search.corp">

    <br />
    <br />

    <table class="gridtable">
        <thead>
        <tr>
            <th>Corp Name</th>
            <th>Owner</th>
            <th>Phone</th>
            <th></th>
        </tr>
        </thead>

        <tr ng-repeat="corps in vm.corps | filter:search">
            <td>{{corps.corp}}</td>
            <td>{{corps.owner}}</td>
            <td><a ng-href="#/corps/{{corps.id}}">View</a></td>
        </tr>
    </table>

</div>

